<div class="jumbotron">
  <h2>Resonate-TSP is the best way to find reviews on local tutorial centres.</h2>
  <h3>Explore the favourite tutorial centres in your community!<br>
  Leave reviews and ratings to let others know what you think!</h3>
</div>  

<div class="container">
  <div class="row">
    <h2 class="text-center">Most Reviewed Sites</h2>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title"><a href="/tutorial_centres/1">Arch Education</a></h1>
                            <hr />
                            <h3>English</h3>
                            <br>
                            <p>For students aged 7-18, looking towards UK, US and HK school and university admissions, we provide 360o guidance by leveraging on our breadth of offerings, including Skills Enrichment (Think, Speak, Read and Write programs).</p>
                            <br />
                            <a href="/tutorial_centres/1" class="btn btn-block btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title"><a href="/tutorial_centres/2">Capstone</a></h1>
                            <hr />
                            <h3>Debate</h3>
                            <br>
                            <p>Our vision is to become the most esteemed education consultancy in Asia for ambitious students. We neither aim to be the largest nor the most profitable but are driven to become the first-choice education partner for students and parents seeking the very best education support and leadership development.
                            </p>
                            <br />
                            <a href="/tutorial_centres/2" class="btn btn-block btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title"><a href="/tutorial_centres/3">ITS Education</a></h1>
                            <hr />
                            <p>Everything we do at our schools and advisory offices is centered around our students.
                                We want our students to find and follow their desired and appropriate academic pathways. We achieve this by employing high quality staff, both teaching and administrative, who care about what our students achieve.</p>
                            <br />
                            <a href="/tutorial_centres/3" class="btn btn-block btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
  </div>
</div>

<br>

<% if user_signed_in? && current_user.admin? %>

  <%= link_to new_tutorial_centre_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
    <i class="glyphicon glyphicon-home"></i> New Tutorial Centre
  <% end %>

  <%= link_to new_category_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
    <i class="glyphicon glyphicon-list-alt"></i> New Category
  <% end %>
  <%#= link_to 'New Tutorial centre', new_tutorial_centre_path, class: "btn btn-link" %>
<% end %>

<%= image_tag "https://s3.amazonaws.com/resonate-tsp/yelp+sketch.png" %>

<br>
<br>

<div class="center">
<div class="fb-like" data-href="http://resonatetsp.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
