<h1>Welcome to Resonate-TSP!</h1>
<h2><%= link_to "Resonate-TSP", "http://www.baserails.com" %> is an online medium for you to exchange information about education. Sign up and join our community today!</h2>

