<h1>Welcome to Resonate-TSP!</h1>
<h2><%= link_to "Resonate-TSP", "http://www.baserails.com" %> is an online medium that helps you find the right education agency. Sign up and join our community today!</h2>

