<div class="row">
	<div class="jumbotron new_index">
		<div class="container-fluid">
			<h1>Welcome to Resonate-TSP!</h1>
			<h2>A medium for exchanging ideas on Education!</h2>
		</div>
	</div>
<div>

<%= render 'pages/how_it_works' %>


<%= render 'pages/tutor_carousel' %>



