<div class="universityambassadors">
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-5 col-sm-8">
      <h2>University Ambassadors</h2>
        <br>
        <h3>We are here to offer advice on university admissions! Feel free to contact us!</h3>
        <br><br>
        <table class="table">
          <thead style="color:black;">
            <tr>
              <th><%= t('Name') %></th>
              <th><%= t('University') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>      
            <tr>
              <td><a href="#Simson">Simson W.</a></td>
              <td><a href="#Oxford">Oxford</a></td>
            </tr>

            <tr>
              <td><a href="#Timson">Timson L.</a></td>
              <td><a href="#Oxford">Oxford</a></td>
            </tr>

            <tr>
              <td><a href="#Kenneth">Kenneth C.</a></td>
              <td><a href="#UCL">UCL</a></td>
            </tr>

            <tr>
              <td><a href="#Jason">Jason W.</a></td>
              <td><a href="#HKU">HKU</a></td>
            </tr>

            <tr>
              <td><a href="#Sean">Sean L.</a></td>
              <td><a href="#Oxford">Oxford</a></td>
            </tr>

            <tr>
              <td><a href="#Alvin">Alvin C.</a></td>
              <td><a href="#Warwick">Warwick</a></td>
            </tr>

            <tr>
              <td><a href="#Timothy">Timothy N.</a></td>
              <td><a href="#Durham">Durham</a></td>
            </tr>

            <tr>
              <td><a href="#Veronica">Veronica W.</a></td>
              <td><a href="#Cambridge">Cambridge</a></td>
            </tr>

            <tr>
              <td><a href="#Brian">Brian M.</a></td>
              <td><a href="#LSE">LSE</a></td>
            </tr>
    
          </tbody>
        </table>
      </div>
  </div>
</div>


<br>
<br>

<div class="col-md-2"></div>
<div class="col-md-8">
<p><span class="badge">N.B.</span> Any views or opinions presented in this website are solely those of the author and do not necessarily represent those of the company. University Ambassadors from our site are expressly required not to make defamatory statements and not to infringe or authorize any infringement of copyright or any other legal right. The company will not accept any liability in respect of such communication.</p>
</div>

<br>
<br>

<div class="container">
    
    <div class="col-md-8">
      <img src="https://s3.amazonaws.com/resonate-tsp/university+ambassadors+image/Screen+Shot+2015-09-13+at+11.30.12+am.png" class="img-circle">
      <h3>Simson W.</h3>
      <h4><%= t('Oxford') %> &nbsp;|&nbsp; <%= t('Chemistry') %></h4>
    </div>
</div>
