.jumbotron {
	background-color: #fdf5d6;
	border: 1px solid #f2cb3b;
	h2 {
		color:  #c41200;
		font-weight: bold;	
	}
}

.universityambassadors {
	
	max-width: 100%;
	h3 {
		color:  #040505;
		font-weight: bold;
		font-family: aktiv-grotesk std;	
	}
	background-color: #f2efa9

}


.col-md-4:nth-child(3n+1) {
  clear: left;
}


.container-fluid {
    padding: 10px 120px;
}

.footer {
	color: black
}




