.jumbotron {
	background-color: #fdf5d6;
	border: 1px solid #f2cb3b;
	h2 {
		color:  #c41200;
		font-weight: bold;	
	}
}

.universityambassadors {
	
	max-width: 100%;
	h3 {
		color:  #040505;
		font-weight: bold;
		font-family: aktiv-grotesk std;	
	}
	background-color: #f2efa9

}

.page-wrap {
  min-height: 100%;

}



.container-fluid {
    padding: 10px 120px;
}

.footer {
	color: black
}

.new_index{
  max-width: 100%;
  max-height: 100%;
  background-image: url("https://s3.amazonaws.com/resonate-tsp/index+image/oxford.jpg");
  background-size: cover;
  h1, h2 {
  font-family: guardian-egyptt, georgia, serif;
  color: #050505;
  text-align: center;
  opacity: 1;
	}
  opacity:0.6;
}








