<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Resonate-TSP</a>
  </div>
  
  
  <div class="collapse navbar-collapse js-navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown mega-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reviews <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
        
        <ul class="dropdown-menu mega-dropdown-menu row">
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Most Popular Agency</li>                            
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="item active">
                                    <a href="tutorial_centres/1"><img src="https://s3.amazonaws.com/resonate-tsp/uploads/tutorial_centre/image/1/Screen_Shot_2015-08-28_at_12.43.19_pm.png" class="img-responsive" alt="product 1"></a>
                                    <h4><small>Arch Education</small></h4>                                        
                                    <button class="btn btn-info" type="button">English</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-thumbs-up"></span> 27 Oxbridge offers!</button>       
                                </div><!-- End Item -->
                                <div class="item">
                                    <a href="tutorial_centres/2"><img src="https://s3.amazonaws.com/resonate-tsp/uploads/tutorial_centre/image/2/Screen_Shot_2015-08-28_at_12.47.03_pm.png" class="img-responsive"alt="product 2"></a>
                                    <h4><small>Capstone</small></h4>                                        
                                    <button class="btn btn-info" type="button">English</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-thumbs-up"></span> #1 in Debates!</button>        
                                </div><!-- End Item -->
                                <div class="item">
                                    <a href="tutorial_centres/3"><img src="https://s3.amazonaws.com/resonate-tsp/uploads/tutorial_centre/image/4/Screen+Shot+2015-09-09+at+8.22.44+am.png" class="img-responsive" alt="product 3"></a>
                                    <h4><small>ITS Education</small></h4>                                        
                                    <button class="btn btn-primary" type="button">Maths</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-thumbs-up"></span> Perfect IB score!</button>      
                                </div><!-- End Item -->                                
                              </div><!-- End Carousel Inner -->
                            </div><!-- /.carousel -->
                            <li class="divider"></li>
                            <li><a href="#">View all tutorial centres! <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Dresses</li>
              <li><a href="#">Unique Features</a></li>
              <li><a href="#">Image Responsive</a></li>
              <li><a href="#">Auto Carousel</a></li>
              <li><a href="#">Newsletter Form</a></li>
              <li><a href="#">Four columns</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Tops</li>
              <li><a href="#">Good Typography</a></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Jackets</li>
              <li><a href="#">Easy to customize</a></li>
              <li><a href="#">Glyphicons</a></li>
              <li><a href="#">Pull Right Elements</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Pants</li>
              <li><a href="#">Coloured Headers</a></li>
              <li><a href="#">Primary Buttons & Default</a></li>
              <li><a href="#">Calls to action</a></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Accessories</li>
              <li><a href="#">Default Navbar</a></li>
              <li><a href="#">Lovely Fonts</a></li>
              <li><a href="#">Responsive Dropdown </a></li>             
              <li class="divider"></li>
                            <li class="dropdown-header">Newsletter</li>
                            <form class="form" role="form">
                              <div class="form-group">
                                <label class="sr-only" for="email">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email">                                                              
                              </div>
                              <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                            </form>                                                       
            </ul>
          </li>
        </ul>
        
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        
      <% if user_signed_in? %>  
        <li><%= link_to "Edit profile", edit_user_registration_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>  
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>  
      </ul>
  </div><!-- /.nav-collapse -->

</div>
</nav>

