   	<ul class="nav navbar-nav">
      <li class="dropdown mega-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reviews <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
        
        <ul class="dropdown-menu mega-dropdown-menu row">
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Most Popular Agency</li>                            
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="item active">
                                    <a href="/tutorial_centres/1"><img src="https://s3.amazonaws.com/resonate-tsp/uploads/tutorial_centre/image/1/Screen_Shot_2015-08-28_at_12.43.19_pm.png" class="img-responsive" alt="product 1"></a>
                                    <h4><small>Arch Education</small></h4>                                        
                                    <button class="btn btn-info" type="button">English</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-thumbs-up"></span> 27 Oxbridge offers!</button>       
                                </div><!-- End Item -->
                                <div class="item">
                                    <a href="/tutorial_centres/2"><img src="https://s3.amazonaws.com/resonate-tsp/uploads/tutorial_centre/image/2/Screen_Shot_2015-08-28_at_12.47.03_pm.png" class="img-responsive"alt="product 2"></a>
                                    <h4><small>Capstone</small></h4>                                        
                                    <button class="btn btn-info" type="button">English</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-thumbs-up"></span> #1 in Debates!</button>        
                                </div><!-- End Item -->
                                <div class="item">
                                    <a href="/tutorial_centres/3"><img src="https://s3.amazonaws.com/resonate-tsp/uploads/tutorial_centre/image/4/Screen+Shot+2015-09-09+at+8.22.44+am.png" class="img-responsive" alt="product 3"></a>
                                    <h4><small>ITS Education</small></h4>                                        
                                    <button class="btn btn-primary" type="button">Physics</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-thumbs-up"></span> Tutors from Oxford!</button>      
                                </div><!-- End Item -->                                
                              </div><!-- End Carousel Inner -->
                            </div><!-- /.carousel -->
                            <li class="divider"></li>
                            <li><a href="/pages/university_ambassadors">Let's meet our university ambassadors! <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">HKDSE</li>
              <li><a href="/tags/DSE%20Maths">Mathematics</a></li>
              <li><a href="/tags/DSE%20English">English</a></li>
              <li><a href="/tags/DSE%20Chinese">Chinese</a></li>
              <li><a href="/tags/DSE%20Physics">Physics</a></li>
              <li><a href="/tags/DSE%20Chemistry">Chemistry</a></li>
              <li><a href="/tags/DSE%20Biology">Biology</a></li>
              <li><a href="/tags/DSE%20BAFS">BAFS</a></li>
              <li><a href="/tags/DSE%20Liberal%20Studies">Liberal Studies</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Language exams</li>
              <li><a href="/tags/IELTS">IELTS</a></li>
              <li><a href="/tags/TOEFL">TOEFL</a></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">GCE A-Level</li>
              <li><a href="/tags/GCE%20Maths">Mathematics</a></li>
              <li><a href="/tags/GCE%20Chinese">Chinese</a></li>
              <li><a href="/tags/GCE%20Physics">Physics</a></li>
              <li><a href="/tags/GCE%20Chemistry">Chemistry</a></li>
              <li><a href="/tags/GCE%20Biology">Biology</a></li>
              <li><a href="/tags/GCE%20Business%20Studies">Business studies</a></li>
              <li><a href="/tags/GCE%20Economics">Economics</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">SAT</li>
              <li><a href="/tags/SAT%20English">English</a></li>
              <li><a href="/tags/SAT%20Maths">Maths</a></li>
              <li><a href="/tags/SAT%20Physics">Subject Test: Physics</a></li>
              <li><a href="/tags/SAT%20Chemistry">Subject Test: Chemistry</a></li>
              <li><a href="/tags/SAT%20Biology">Subject Test: Biology</a></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">IBDP</li>
              <li><a href="/tags/IB%20English">English</a></li>
              <li><a href="/tags/IB%20Biology">Biology</a></li>
              <li><a href="/tags/IB%20Chemistry">Chemistry</a></li>
              <li><a href="/tags/IB%20Physics">Physics</a></li>
              <li><a href="/tags/IB%20Business%20and%20Management">Business and Management</a></li>
              <li><a href="/tags/IB%20Economics">Economics</a></li>
              <li><a href="/tags/IB%20Maths">Mathematics</a></li>
              <li><a href="/tags/IB%20Geography">Geography</a></li>

                          
              <li class="divider"></li>
              <li class="dropdown-header">Newsletter</li>
              <form class="form" role="form">
              <div class="form-group">
                  <label class="sr-only" for="email">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email">                                               
              </div>
             <button type="submit" class="btn btn-danger btn-block">Subscribe!</button>
              </form>                                                       
            </ul>
          </li>
        </ul>
        
      </li>
    </ul>
